* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  font-size: 1.6rem;
  color: #2c2c2c;
  line-height: 1.25;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}
a:hover {
  color: #46b20f;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style: none;
}

.container {
  --container-width: 1200px;
}

@media screen and (max-width: 1199.98px) {
  .container {
    padding: 0 15px;
  }
}
.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.header {
  padding: 15px 0;
  box-shadow: 0px 1.6666666269px 8.3333330154px 0px rgba(0, 0, 0, 0.15);
}
.header .logo {
  height: 95px;
}
.header .logo img {
  max-height: 100%;
  width: auto;
}
.header .header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .header-nav .menu ul {
  display: flex;
}
.header .header-nav .menu ul li {
  padding: 0 25px;
}
.header .header-nav .menu ul li a {
  font-weight: 600;
  padding-bottom: 54px;
}
.header .header-nav .menu ul li.active a, .header .header-nav .menu ul li:hover a {
  color: #46b20f;
  border-bottom: 1.667px solid #46b20f;
}
.header .header-nav .menu-overlay {
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease;
  transition-property: opacity, visibility;
}
.header .header-nav .cart-icon {
  padding: 0 25px;
}
.header .header-nav .cart-icon a {
  position: relative;
}
.header .header-nav .cart-icon a span {
  position: absolute;
  top: -6px;
  right: -7px;
  font-size: 1.3rem;
  background: #ff6916;
  color: #fff;
  padding: 1px 5px;
  border-radius: 50%;
}
.header .header-nav .search-icon {
  padding-left: 25px;
}
.header .menu-toggle {
  display: none;
}

@media screen and (max-width: 991.98px) {
  .header .menu-toggle {
    display: block;
  }
  .header .menu-toggle label {
    font-size: 2rem;
  }
  .header .header-nav .menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    background: #46b20f;
    min-width: 250px;
    padding: 20px 0;
    translate: -100%;
    transition: translate 0.4s ease;
  }
  .header .header-nav .menu ul {
    display: block;
  }
  .header .header-nav .menu ul li a {
    color: #fff !important;
    border: 0 !important;
    display: block;
    padding: 10px 0;
  }
  .header .header-nav .menu-overlay {
    position: fixed;
    inset: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4392156863);
  }
  .header .header-nav .search-icon {
    padding-left: 0;
  }
  .header .header-nav input[type=checkbox]:checked ~ .menu {
    translate: 0;
  }
  .header .header-nav input[type=checkbox]:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  .header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.banner_header .text_banner {
  font-family: Inter, sans-serif;
}
.banner_header .text_banner h1 {
  margin: 14px 0;
}
.banner_header .text_banner p {
  line-height: 26px;
}
.banner_header .container_right {
  margin-top: 5px;
}
.banner_header .container_right .logo_banner {
  background-color: #dcffca;
  width: 775.833px;
  height: 704.333px;
  border-radius: 16.667px 0px 0px 16.667px;
  position: relative;
}
.banner_header .container_right .logo_banner img {
  position: absolute;
  width: 714px;
  height: auto;
  right: 228px;
}
.banner_header .container_right .logo_banner span {
  position: absolute;
  transform: rotate(90deg);
  font-size: 165.667px;
  font-weight: 800;
  line-height: 100%;
  top: 177px;
  left: 307px;
  opacity: 0.1;
}

.evaluate .container {
  margin-top: 60px;
}
.evaluate .container .text_evaluate {
  text-align: center;
  padding: 0 255px;
}
.evaluate .container .text_evaluate p {
  margin: 15px 0;
}
.evaluate .container .card_evaluate {
  display: flex;
}
.evaluate .container .card_evaluate span {
  font-size: 43.333px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-family: Inter, sans-serif;
  margin: 20px 0;
}
.evaluate .container .card_evaluate p {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.833px;
  margin-top: 20px;
}
.evaluate .container .card_evaluate .circle_top {
  position: relative;
}
.evaluate .container .card_evaluate .item {
  margin: 0 40px;
  padding: 31px;
  background-color: #fff;
  border-radius: 3.333px;
  box-shadow: -5.8333330154px 8.3333330154px 72.5px 0px rgba(54, 54, 54, 0.12);
}
.evaluate .container .card_evaluate .item .logo_item {
  margin-bottom: 20px;
  width: 63.333px;
  padding: 12px;
  height: 63.333px;
}
.evaluate .container .card_evaluate .item .logo_item img {
  width: 45px;
  height: 45px;
}
.evaluate .container .card_evaluate .item_first {
  position: relative;
  bottom: 83px;
  left: 79px;
  width: 299px;
  height: 283px;
}
.evaluate .container .card_evaluate .item_first .logo_item {
  border-radius: 10px;
  background: var(--orange-100, #fff0e7);
}
.evaluate .container .card_evaluate .item-center {
  position: relative;
  top: 121px;
  width: 294.167px;
  height: 337.5px;
}
.evaluate .container .card_evaluate .item-center .logo_item {
  margin-top: 29px;
  border-radius: 10px;
  background: var(--green-100, #f2ffec);
}
.evaluate .container .card_evaluate .item-last {
  position: relative;
  top: 152px;
  right: 83px;
  width: 299px;
  height: 283px;
  z-index: 1;
}
.evaluate .container .card_evaluate .item-last .logo_item {
  border-radius: 10px;
  background: var(--orange-100, #fff0e7);
}
.evaluate .container .card_evaluate .circle_bottom {
  position: relative;
  left: 105px;
  top: 48px;
}

.products {
  margin-top: 150px;
}
.products h2 {
  text-align: center;
  font-size: 31.667px;
  font-style: normal;
  font-weight: 800;
  line-height: 131.523%;
  font-family: Inter, sans-serif;
}
.products .item_product {
  margin-top: 40px;
}
.products .item_product .cricle_product {
  margin-left: 55px;
}
.products .item_product .cricle_product .ellipse {
  position: relative;
}
.products .item_product .cricle_product .ellipse_product {
  bottom: 166px;
  width: 261.117px;
  height: 250.148px;
}
.products .item_product .info_product {
  text-align: center;
  margin-top: -139px;
  line-height: 29.667px;
}
.products .item_product .info_product h4 {
  font-family: Inter, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
.products .item_product .info_product .quantity {
  margin: 12px 0;
  color: #656565;
  font-size: 16.667px;
  font-style: normal;
  font-weight: 400;
}
.products .item_product .info_product p .price {
  font-size: 23.333px;
  font-style: normal;
  font-weight: 600;
}
.products .item_product .info_product button {
  margin: 20px 0;
  border-radius: 6.667px;
  background: #46b20f;
  color: #fff;
  padding: 11px 15px;
}
.products .item_product .info_product button:hover {
  opacity: 0.8;
}

.news {
  font-family: Inter, sans-serif;
  margin-top: 120px;
}
.news .text_news {
  text-align: center;
  padding: 0 255px;
  margin-bottom: 30px;
}
.news .text_news h2 {
  margin-bottom: 12px;
}
.news .item_new .calens {
  display: flex;
  margin: 15px 0;
  font-weight: 500;
}
.news .item_new .calens .text_calen {
  color: #46b20f;
  margin-right: 148px;
  margin-top: 4px;
}
.news .item_new .calens .day_time {
  margin-left: 9px;
  margin-top: 4px;
  color: #A3A3A3;
}
.news .item_new .text_item_news {
  margin: 12px 0;
}
.news .btn_more {
  text-align: center;
  margin-bottom: 40px;
}
.news .btn_more button {
  background: #fff;
  border: 1px solid #46b20f;
  border-radius: 6.667px;
  padding: 12px 20px;
}
.news .btn_more button a {
  font-weight: 700;
}

.describe {
  text-align: center;
  font-family: Inter, sans-serif;
}
.describe .text_describe {
  padding: 0 363px;
}
.describe .text_describe > p {
  margin: 12px 0;
}
.describe .backgroud_describe {
  position: relative;
  bottom: 20px;
  background: #fff0e7;
  width: 100%;
  height: 360.833px;
}
.describe .backgroud_describe .row_describe {
  padding: 0px 46px;
}
.describe .backgroud_describe .row_describe .item_describe {
  background: #fff;
  top: -69px;
  position: relative;
  margin-left: 9px;
}

/*# sourceMappingURL=styles.css.map */
