*{
    margin: 0;
	padding: 0;
    box-sizing: 0;
}
:root {
    --background-color: #fff;
    --background-secondary-color:#85B8FF;
    --background-item-color: black;
    --primary-text-color: #0a0a0a;
    --secondary-text-color: #ffffff;
}