* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .player {
    max-width: 90%;
    margin: 30px auto;
    text-align: center;
  }
  .player .play-btn {
    display: inline-block;
    margin: 0px auto;
  }
  
  .player .play-inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }
  
  .progress-bar {
    background: gray;
    height: 10px;
    position: relative;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
  }
  
  .progress-bar .progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    width: 0;
    background: rgb(77, 10, 223);
  }
  
  .progress-bar .progress span {
    position: absolute;
    right: 0;
    top: 50%;
    width: 13px;
    height: 13px;
    background: blueviolet;
    border-radius: 50%;
    display: block;
    translate: 50% -50%;
  }
.audio{
    display: contents;
}
.present-time{
  position: absolute;
  top:-20px;
}
.karaokeOpen{
  text-align: center;
}
.karaokeOpen button{
  color: #fff;
  cursor: pointer;
  background: #8a2be2;
  border: 0;
  padding: 5px 15px;
  border-radius: 8px;
  font-size: 18px;
}

.karaoke{
  position: absolute;
  color: #fff;
  inset: 0;
  translate: 0 100%;
  background-color: #8a2be2;
  padding: 15px;
  transition: translate .4s;
}

body {
  overflow: hidden;
}
body .show {
  inset: 0;
  translate: 0 0;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
.karaoke .karaoke_header {
  justify-content: space-between;
  align-items: center;
  display: flex;

}
.karaoke .karaoke_header h2{
  font-size: 3rem;
}
.karaoke .karaoke_header .close{
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
}
.karaoke_inner{
  text-align: center;
  margin: 30px 0;
  font-size: 40px;
  font-weight: 500;
}
.karaoke_inner span.word{
  position: relative;
}
.karaoke_inner span.word span{
  position: absolute;
  left: 0;
  color: black;
  overflow: hidden;
  width: 0;

} 