ul {
  list-style: none;
}
.inputBtn{
    width: 200px;
    height: 45px;
    border: none;
    outline: none;
    padding: 0px 7px;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    background-color: transparent;
    box-shadow: 3px 3px 10px #ffc107, -1px -1px 6px #21252900;
  }
  .inputBtn:focus {
    border: 2px solid transparent;
    color: #fff;
    box-shadow: 3px 3px 10px #212529ab, -1px -1px 6px rgba(255, 255, 255, 0.4), inset 3px 3px 10px #2125298a, inset -1px -1px 6px rgba(255, 255, 255, 0.4);
  }