*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
     margin: 2%;
    }

.contact_list{
    border: 1px solid rgb(186, 137, 2);
    display: inline-block;
}

.contact_list ul li{
 display: inline-block;
}

.contact_list ul li a{
    display: inline-block;
    padding: 15px 80px;
    color: #af9656;
    text-decoration: none;
}

.contact_list ul li:hover a{
    background-color:rgb(186, 137, 2);
    color: #fff;
}
.contact-infor{
    background-color: rgb(251, 246, 239);

    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.infor{

    margin-right: 15%;
}
.map{
    margin-right: -5%;

}